@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@theme inline {
  
  --color-primary: #09707D;
}



@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #09707D rgb(1, 1, 14);
  }
  body {
    
  }
  html {
    
  }
}

@keyframes navbar-scroll {
  from {
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    background-color: #ffffff;
    color: #111827;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  
  }
}

.scroll-nav {
  color: #ffffff;
  background-color: transparent;
  animation: navbar-scroll linear both;
  animation-timeline: scroll();
  animation-range: 0px 60px;
}


.scroll-nav a,
.scroll-nav span,
.scroll-nav svg {
  color: inherit !important;
  stroke: currentColor !important;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(1, 1, 14);
}

::-webkit-scrollbar-thumb {
  background-color: #09707D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d8b9b;
}
